// Start : Footer Section
.footer-bg {
    background-image: url("../.././images/woxroglobe.png");
    background-color: black;
    padding: 137px 15px;
    width:99%;

    @include media-min-md {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 70px 50px;
    }

    .footercontent {
        font-size: 2.2rem;
        font-weight: bold;
        align-items: center;
        color: white;
        padding-left: 30px;
    }

    .contact,.talk{
        background: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        margin: 5px;
        width: 10rem;
        height: 3.5rem;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: aliceblue;
            color:black;
        }
    }
}

// End : Footer Section